h1{
    color: White ;
    background-color: Grey ;
}

body{
    background-color: black ;
    p
}
a:link{
    width:250px ;
    height:250px ;
    padding:150px ;
    color:white ;
    position: center;
}
p{
    color:white ;
    background-color: grey ;
}